.action-button {
  background-color: $bacground-color-action-button-blue;
  color: $text-color-white;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  padding: 0;
}
button {
  cursor: pointer;
}

.hide-desktop {
  @include for-large-up {
    display: none;
  }
}

.hide-mobile {
  @include for-large-down {
    display: none;
  }
}
