.top-section {
  background-color: $bacground-color-banner;

  @include for-large-up {
    background-color: $bacground-color-banner;
    padding-top: 39px;
  }
}
.header {
  height: 64px;
  width: 100%;
  background-color: $text-color-white;
  align-items: center;
  display: flex;
  @include for-large-down {
    padding-left: 15px;
  }
  @include for-large-up {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background-color: transparent;
    padding-left: 0;
  }

  &__button {
    display: none;

    @include for-large-up {
      display: block;
    }
  }
  &__menu-button {
    width: 58px;
    border: none;
    border-left: 1px solid $border-color-black;
    height: 100%;
    margin-left: auto;
    background-color: transparent;
  }
  &__menu-icon {
    width: 18px;
    height: 13px;
    display: inline-block;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
  }
}
.navigation {
  display: none;
  @include for-large-up {
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
    display: block;
  }

  &__arrow {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 11px;
    display: none;
  }
}
.nav-list__item {
  color: $text-color-dark-grey;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.nav-list__item_selected {
  font-weight: 700;
}
.nav-list__item:last-child {
  margin-right: 0px;
}
.logo {
  display: flex;

  &__image {
    width: 48px;
    height: 48px;
    margin-right: 13px;
    @include for-large-up {
      margin-left: 15px;
    }
  }
  &__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.header .logo__description {
  display: none;
  font-size: 18px;
  line-height: 25px;
  color: $text-color-dark-grey;
  opacity: 0.6;

  @include for-large-up {
    display: block;
  }
}

.logo__image {
  @include for-large-up {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}

.header__menu-button {
  @include for-large-up {
    display: none;
  }
}
